<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
</head>
<body>
    <h3 style="text-align: center;">Curriculum Vitae</h3>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mb-4">
                    <div class="card-header">
                        Información Personal
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Nombre</th>
                                    <td>Juan Pérez</td>
                                    <th scope="row">Edad</th>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <th scope="row">Correo Electrónico</th>
                                    <td>juan.com</td>
                                </tr>
                                <tr>
                                    <th scope="row">Teléfono</th>
                                    <td>555-123-4567</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dirección</th>
                                    <td>Dolores Hidalgo C.I.N, Guanajuato</td>
                                    <th scope="row">C.P</th>
                                    <td>37600</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        Experiencia Laboral
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Desarrollador Web</th>
                                    <td>Empresa XYZ (2020 - Presente)</td>
                                    <td>
                                        <ul>
                                            <li>Desarrollo de aplicaciones web utilizando HTML, CSS, JavaScript, etc.</li>
                                            <li>Colaboración con equipos multidisciplinarios en proyectos de gran envergadura.</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Practicante de Marketing Digital</th>
                                    <td>Agencia ABC (2018 - 2020)</td>
                                    <td>
                                        <ul>
                                            <li>Gestión de redes sociales y creación de contenido.</li>
                                            <li>Análisis de métricas y rendimiento de campañas publicitarias.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        Educación
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Desarrollo de Software Multiplataforma</th>
                                    <td>jilo Tecnlogia del Norte Guanajto (2022- 20224)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        Habilidades
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>HTML5, CSS3, JavaScript</li>
                            <li>React, Angular, Vue.js</li>
                            <li>Git, GitHub</li>
                            <li>SEO, SEM</li>
                            <li>Photoshop, Illustrator</li>
                        </ul>
                    </div>

                </div>
                <div class="text-center">
                    <form>
                        <button type="submit" class="btn btn-success mr-2">Aceptar</button>
                        <button type="submit" class="btn btn-danger">Rechazar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
