.formulario-container {
    max-width: 600px; /* Ajusta el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Agrega espacio alrededor del contenido del contenedor */
    border: 1px solid #ccc; /* Añade un borde al contenedor */
    border-radius: 10px; /* Agrega bordes redondeados al contenedor */
  }
  
  .formulario-header {
    text-align: center; /* Centra el texto del encabezado */
    margin-bottom: 20px; /* Agrega espacio debajo del encabezado */
  }
  
  .formulario-body {
    width: 100%; /* Ajusta el ancho del cuerpo del formulario al 100% */
  }
  