<app-navigation></app-navigation>
<div class="container mt-5">
  <h2 class="mb-4">Formulario Curriculum</h2>
  <form action="guardar_curriculum.php" method="post" enctype="multipart/form-data">

    <fieldset>
      <legend>Datos Personales</legend>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="Nombre">Nombre</label>
              <input type="text" id="Nombre" name="Nombre" class="form-control" required>
              <label for="Nombre">Numero Telefonico</label>
              <input type="text" id="Telefono" name="Telefono" class="form-control" required>
              <label for="Nombre">Liceciatura o Ingenieria(Nivel)</label>
              <input type="text" id="Liceciatura" name="Liceciatura" class="form-control" required>
              <div class="form-group">
                <label for="Apellidos">Descripcion Personal</label>
                <textarea id="DescripcionP" name="DescripcionP" class="form-control" rows="4"></textarea>
            </div>
            
          </div>
          


          <div class="form-group col-md-6">
            <form action="/ruta/del/controlador" method="post" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="archivoWord" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="archivoWord" name="archivoWord" accept=".doc, .docx">
              </div>
            </form>
              <label for="Apellidos">Apellidos</label>
              <input type="text" id="Apellidos" name="Apellidos" class="form-control">
              <label for="Apellidos">Correo Personal</label>
              <input type="text" id="Correo" name="Apellidos" class="form-control">
          </div>
      </div>
    </fieldset>
      <fieldset>
        <legend>Datos Domicilio</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Nombre">Estado </label>
                <input type="text" id="Estado" name="Estado" class="form-control" required>
                <label for="Nombre">Ciudad</label>
                <input type="text" id="Ciudad" name="Ciudad" class="form-control" required>
                <label for="Nombre">Codigo Postal</label>
                <input type="number" id="CodigoPostal" name="CodigoPostal" class="form-control" required>
            </div>
    
            <div class="form-group col-md-6">
                <label for="Apellidos">Colonia</label>
                <input type="text" id="Colonia" name="Colonia" class="form-control">
                <label for="Apellidos">Calle</label>
                <input type="text" id="Calle" name="Calle" class="form-control">
            </div>
        </div>
    </fieldset>

    <fieldset>
      <legend>Datos Universitarios</legend>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="Nombre">Universidad</label>
              <input type="text" id="Estado" name="Estado" class="form-control" required>

          </div>

      </div>
      <p>Periodo</p>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Nombre">Fecha Inicio </label>
            <input type="date" id="FechaI" name="FechaI" class="form-control" required>
        </div>

        <div class="form-group col-md-6">
          <label for="Nombre">Fecha Final </label>
          <input type="date" id="FechaF" name="FechaF" class="form-control" required>
        </div>
    </div>
  </fieldset>
  <fieldset>

    <fieldset>
      <legend>Experiencia Laboral</legend>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="EmpresaE">Nombre de la Empresa</label>
              <input type="text" id="EmpresaE" name="EmpresaE" class="form-control" required>
              <label for="PuestoE">Puesto</label>
              <input type="text" id="PuestoE" name="PuestoE" class="form-control" required>
              <label for="ExperienciaLaboral">Descripción de la Experiencia Laboral</label>
              <textarea id="ExperienciaLaboral" name="ExperienciaLaboral" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group col-md-6">
              <label for="Certificados">Certificados</label>
              <input type="text" id="Certificados" name="Certificados" class="form-control">
              <label for="ConocimientosT">Conocimientos Técnicos</label>
              <input type="text" id="ConocimientosT" name="ConocimientosT" class="form-control">
              <label for="HabilidadesLaborales">Habilidades Laborales</label>
              <input type="text" id="HabilidadesLaborales" name="HabilidadesLaborales" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="FechaEI">Fecha de Inicio</label>
            <input type="date" id="FechaEI" name="FechaEI" class="form-control" required>
            <label for="FechaEf">Fecha de Fin</label>
            <input type="date" id="FechaEf" name="FechaEf" class="form-control" required>
        </div>
      </div>
  </fieldset>
  


        <div class="form-group col-md-6">
          <form action="/ruta/del/controlador" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="archivoWord" class="form-label">Imagen</label>
              <input type="file" class="form-control" id="archivoWord" name="archivoWord" accept=".doc, .docx">
            </div>
          </form>
            <label for="Apellidos">Apellidos</label>
            <input type="text" id="Apellidos" name="Apellidos" class="form-control">
            <label for="Apellidos">Correo Personal</label>
            <input type="text" id="Correo" name="Apellidos" class="form-control">
        </div>
    </div>
  </fieldset>
      <button type="submit" class="btn btn-primary">Guardar Curriculum</button>
  </form>
</div>