<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AVANT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/promociones" routerLinkActive="active">Promociones
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/autos" routerLinkActive="active">Autos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Adicionales</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tu reserva</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Ver/Modificar/Cancelar</a>
              <a class="dropdown-item" href="#">Quickpass</a>
              <a class="dropdown-item" href="#">Facturar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
      </div> 
    </div>
  </nav>

<img src="assets/banner_viaje.jpg" alt="Banner de Autos">
<h1>Promociones disponibles</h1>

  <div class="promociones-list">
    
    <!-- Oferta 1: Convertible de Verano -->
    <div class="promocion">
      <div class="imagen">
        <img src="assets/convertible_promo.png" alt="Convertible de Verano">
      </div>
      <div class="contenido">
        <h3>Explora la Costa en un Convertible</h3>
        <p>Disfruta del verano al máximo con nuestro alquiler de convertible.</p>
        <p>Periodo de tiempo válido: 1 de junio - 31 de agosto</p>
        <p>Precio: Desde $1,000 MXN por día</p>
      </div>
    </div>
    
    <!-- Oferta 2: Escapada de Fin de Semana -->
    <div class="promocion">
      <div class="imagen">
        <img src="assets/compacto_promo.jpg" alt="Escapada de Fin de Semana">
      </div>
      <div class="contenido">
        <h3>Recorre la Ciudad en un Compacto</h3>
        <p>Ideal para una escapada rápida de fin de semana.</p>
        <p>Periodo de tiempo válido: Fines de semana</p>
        <p>Precio: Desde $600 MXN por día</p>
      </div>
    </div>
    
    <!-- Oferta 3: Aventura en la Montaña -->
    <div class="promocion">
      <div class="imagen">
        <img src="assets/Suv_promo.jpg" alt="Aventura en la Montaña">
      </div>
      <div class="contenido">
        <h3>SUV para Terrenos Difíciles</h3>
        <p>Conquista la naturaleza en un SUV robusto y espacioso.</p>
        <p>Periodo de tiempo válido: Todo el año</p>
        <p>Precio: Desde $1,200 MXN por día</p>
      </div>
    </div>
    
    <!-- Oferta 4: Road Trip en Familia -->
    <div class="promocion">
      <div class="imagen">
        <img src="assets/minivan_promo.jpg" alt="Road Trip en Familia">
      </div>
      <div class="contenido">
        <h3>Minivan para Toda la Familia</h3>
        <p>Planifica un viaje en carretera cómodo y seguro.</p>
        <p>Periodo de tiempo válido: Una semana o más</p>
        <p>Precio: Desde $1,400 MXN por día</p>
      </div>
    </div>
    
    <!-- Oferta 5: Experiencia de Lujo -->
    <div class="promocion">
      <div class="imagen">
        <img src="assets/sedan_promo.jpg" alt="Experiencia de Lujo">
      </div>
      <div class="contenido">
        <h3>Sedán de Alta Gama</h3>
        <p>Disfruta del lujo y la elegancia en un sedán de alta gama.</p>
        <p>Periodo de tiempo válido: Todo el año</p>
        <p>Precio: Desde $1,600 MXN por día</p>
      </div>
    </div>

    <!-- Oferta 6: ¡Espacio para toda la familia!-->

    <div class="promocion">
    <div class="imagen">
      <img src="assets/minivan2_promo.jpg" alt="Promoción Minivan">
    </div>
    <div class="contenido">
      <h3>¡Espacio para toda la familia!</h3>
      <p>Amplio y versátil, nuestro minivan es perfecto para viajes en grupo. Confort y seguridad en cada kilómetro.</p>
      <p>Periodo de tiempo válido: 10/06/2024 - 30/08/2024</p>
      <p>Precio: $3000 MXN/día</p>
    </div>
  </div>

    <!-- Oferta 7: ¡Elegancia y comodidad!-->
  <div class="promocion">
    <div class="imagen">
      <img src="assets/auto_elegante_promo.jpg" alt="Promoción Sedan">
    </div>
    <div class="contenido">
      <h3>¡Elegancia y comodidad!</h3>
      <p>Descubre la experiencia de conducir nuestro sedán de alta gama. Diseño moderno y tecnología avanzada para tus viajes más sofisticados.</p>
      <p>Periodo de tiempo válido: 01/07/2024 - 31/10/2024</p>
      <p>Precio: $2800 MXN/día</p>
    </div>
  </div>

    <!-- Oferta 8: ¡Otra promoción increíble!-->
  <div class="promocion">
    <div class="imagen">
      <img src="assets/mustang_promo.jpg" alt="Promoción Otra">
    </div>
    <div class="contenido">
      <h3>¡Viaja con Estilo! Descubre la Emoción del Mustang!</h3>
      <p>¡Experimenta la emoción de viajar con estilo en nuestro Mustang exclusivo! Con su diseño elegante y potencia incomparable, cada viaje se convierte en una aventura inolvidable. Disfruta del lujo y el rendimiento mientras recorres carreteras escénicas o te desplazas por la ciudad. ¡Reserva ahora y vive la experiencia Mustang!
      </p>
      <p>Periodo de tiempo válido: 01/08/2024 - 30/11/2024</p>
      <p>Precio: $2200 MXN/día</p>
    </div>
  </div>
</div>
