/* Estilos para la imagen */
img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 1%; /* Ajusta automáticamente la altura para mantener las proporciones originales */
    object-fit: cover; /* Escala la imagen para que cubra completamente el contenedor, recortando el exceso si es necesario */
  }
  
  
  .banner img {
    position: absolute; /* Posicionar la imagen de manera absoluta dentro del contenedor */
    top: 0; /* Alinear la imagen en la parte superior del contenedor */
    left: 0; /* Alinear la imagen en la parte izquierda del contenedor */
    width: 100%; /* Ajustar al ancho completo del contenedor */
  }
  
  .container {
    text-align: center; /* Centrar el texto */
  }
  
  .title {
    text-align: center;
  }
  
  .autos-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .auto {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave */
    background-color: #dddddd;
  }
  
  .auto:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Resalta con una sombra más pronunciada en hover */
  }
  
  
  .auto img {
    width: 100%;
    height: auto;
    max-width: 400px; /* Ajusta el tamaño máximo de la imagen */
    max-height: 180px; /* Ajusta el tamaño máximo de la imagen */
    object-fit: cover; /* Ajusta el tamaño y recorta la imagen si es necesario */
    background: linear-gradient(135deg, #ffcccc, #ff9999);
  }
  
  .info {
    margin-top: 10px;
  }
  
  .info h3 {
    margin-top: 0;
  }
  
  .info ul {
    list-style: none;
    padding: 0;
  }
  
  .btn-reservar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-reservar:hover {
    background-color: #0056b3;
  }
  
  .btn-detalles {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-detalles:hover {
    background-color: red;
  }
  