<app-admin-navi></app-admin-navi>

<div class="container-fluid mt-5 d-flex justify-content-center align-items-center" style="font-family: 'Montserrat', sans-serif;">
  <div class="card shadow-lg rounded-lg" style="width: 1000px; background-color: #f8f9fa;">
    <h3 class="card-header text-center" style="background-color: #007bff; color: #ffffff; border-radius: 0.75rem 0.75rem 0 0;">Lista de autos disponibles para renta</h3>
    <div class="card-body">
      <div class="row mb-3 border-bottom">
        <div class="col-md-4 d-flex align-items-center justify-content-center"> 
          <img src="https://imgs.search.brave.com/KapsRGZ5MdMBR7Ej6egELVuxOF2A7itARs0ivrWIUsA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bW90b3IxLmNvbS9p/bWFnZXMvbWdsL3g2/N0d3L3MzL21lcmNl/ZGVzLWFtZy1wcm9q/ZWN0LW9uZS5qcGc" class="card-img" alt="Imagen del Carro">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Marca: Marca del Carro</h5>
            <p class="card-text">Modelo: Modelo del Carro</p>
            <p class="card-text">Placas: ABC-123</p>
            <p class="card-text">Asientos: 5</p>
            <p class="card-text">Maletas: 2</p>
            <p class="card-text">Tipo de Caja: Automática</p>
            <p class="card-text">Tipo de Vehículo: Sedán</p>
            <div class="d-flex justify-content-between">
              <a href="" class="btn btn-primary">Editar</a>
              <a href="" class="btn btn-success">Aceptar</a>
              <a href="" class="btn btn-danger">Eliminar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row mb-3 border-bottom">
          <div class="col-md-4 d-flex align-items-center justify-content-center"> 
            <img src="https://imgs.search.brave.com/KapsRGZ5MdMBR7Ej6egELVuxOF2A7itARs0ivrWIUsA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bW90b3IxLmNvbS9p/bWFnZXMvbWdsL3g2/N0d3L3MzL21lcmNl/ZGVzLWFtZy1wcm9q/ZWN0LW9uZS5qcGc" class="card-img" alt="Imagen del Carro">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Marca: Marca del Carro</h5>
              <p class="card-text">Modelo: Modelo del Carro</p>
              <p class="card-text">Placas: ABC-123</p>
              <p class="card-text">Asientos: 5</p>
              <p class="card-text">Maletas: 2</p>
              <p class="card-text">Tipo de Caja: Automática</p>
              <p class="card-text">Tipo de Vehículo: Sedán</p>
              <div class="d-flex justify-content-between">
                <a href="" class="btn btn-primary">Editar</a>
                <a href="" class="btn btn-success">Aceptar</a>
                <a href="" class="btn btn-danger">Eliminar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row mb-3 border-bottom">
            <div class="col-md-4 d-flex align-items-center justify-content-center"> 
              <img src="https://imgs.search.brave.com/KapsRGZ5MdMBR7Ej6egELVuxOF2A7itARs0ivrWIUsA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bW90b3IxLmNvbS9p/bWFnZXMvbWdsL3g2/N0d3L3MzL21lcmNl/ZGVzLWFtZy1wcm9q/ZWN0LW9uZS5qcGc" class="card-img" alt="Imagen del Carro">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Marca: Marca del Carro</h5>
                <p class="card-text">Modelo: Modelo del Carro</p>
                <p class="card-text">Placas: ABC-123</p>
                <p class="card-text">Asientos: 5</p>
                <p class="card-text">Maletas: 2</p>
                <p class="card-text">Tipo de Caja: Automática</p>
                <p class="card-text">Tipo de Vehículo: Sedán</p>
                <div class="d-flex justify-content-between">
                  <a href="" class="btn btn-primary">Editar</a>
                  <a href="" class="btn btn-success">Aceptar</a>
                  <a href="" class="btn btn-danger">Eliminar</a>
                </div>
              </div>
            </div>
          </div>
      
      
      
    </div>
    <div class="text-center mb-4">
      <button routerLink="/admin-autos-agregar" class="btn btn-lg btn-secondary" style="background-color: #6c757d; border-color: #6c757d;">Agregar otro auto</button>
    </div>
  </div>
</div>
