<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AVANT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/promociones" routerLinkActive="active">Promociones
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autos" routerLinkActive="active">Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Adicionales</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tu reserva</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Ver/Modificar/Cancelar</a>
            <a class="dropdown-item" href="#">Quickpass</a>
            <a class="dropdown-item" href="#">Facturar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
    

  <img src="assets/banner_autos.png" alt="Banner de Autos">

  <div class="title">
    <h1>Catálogo de autos</h1>
  </div>
  
  <div class="autos-list">
    <div class="auto">
      <h3>Mustang</h3>
      <img src="assets/auto1.png" alt="Auto 1">
      <div class="info">
        <p>Características básicas:</p>
        <p>
          <i class="fas fa-car"></i> Estándar  
          <i class="fas fa-suitcase"></i> Maletas pequeñas
          <i class="fas fa-snowflake"></i>   Si tiene
          <i class="fas fa-user"></i> 5
        </p>
        <button class="btn-reservar">Reservar</button>
        <button class="btn-detalles" routerLink="/autos/detalles-auto">Detalles</button>
      </div>
    </div>
    <div class="auto">
  <h3>Tundra</h3>
  <img src="assets/auto2.png" alt="Auto 2">
  <div class="info">
    <p>Características básicas:</p>
    <p>
      <i class="fas fa-car"></i> Automático
      <i class="fas fa-suitcase"></i> Maletas grandes
      <i class="fas fa-sun"></i> No tiene
      <i class="fas fa-user"></i> 4 
    </p>
    <button class="btn-reservar">Reservar</button>
    <button class="btn-detalles" routerLink="/autos/detalles-auto">Detalles</button>
  </div>
</div>

    <!-- Agrega más autos según sea necesario -->
    
  </div>
  <div class="autos-list">
    <div class="auto">
      <h3>Mustang</h3>
      <img src="assets/auto1.png" alt="Auto 1">
      <div class="info">
        <p>Características básicas:</p>
        <p>
          <i class="fas fa-car"></i> Estándar  
          <i class="fas fa-suitcase"></i> Maletas pequeñas
          <i class="fas fa-snowflake"></i>   Si tiene
          <i class="fas fa-user"></i> 5
        </p>
        <button class="btn-reservar">Reservar</button>
        <button class="btn-detalles" routerLink="/autos/detalles-auto">Detalles</button>
      </div>
    </div>
    <div class="auto">
      <h3>Tundra</h3>
      <img src="assets/auto2.png" alt="Auto 2">
      <div class="info">
        <p>Características básicas:</p>
        <p>
          <i class="fas fa-car"></i> Automático
          <i class="fas fa-suitcase"></i> Maletas grandes
          <i class="fas fa-sun"></i> No tiene
          <i class="fas fa-user"></i> 4 
        </p>
        <button class="btn-reservar">Reservar</button>
        <button class="btn-detalles" routerLink="/autos/detalles-auto">Detalles</button>
      </div>
    </div>
  