<div>
    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="#">Minsait</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                    </form><span class="navbar-text"> <a routerLink="/login"class="login">Iniciar Sesion</a></span></div>
            </div>
        </nav>
  </div>
  
  
  <div class="container">
    <h2>Panel de Administración de Recursos Humanos</h2>
  
    <div class="position-relative">
      <button class="btn btn-primary position-absolute top-100 start-100 translate-middle" type="button" data-bs-toggle="collapse" data-bs-target="#crearUsuarioForm" aria-expanded="false" aria-controls="crearUsuarioForm">
        Crear Usuario
      </button>
    </div>
  
    <div class="collapse" id="crearUsuarioForm">
      <div class="card card-body">
        <h3>Crear Usuario</h3>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </div>
  
  
    <h3>Usuarios</h3>
    <table class="table">
  
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Estatus</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <!-- Cuerpo de la tabla (datos de usuarios) -->
      <tbody>
        <!-- Filas de usuarios -->
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.estatus }}</td>
          <!-- Botones de validar y rechazar con íconos -->
          <td>
            <button type="button" class="btn btn-success me-2" (click)="validarUsuario(usuario)">
              <i class="fa-solid fas fa-check"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="rechazarUsuario(usuario)">
              <i class="fa-solid fas fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  