<app-admin-navi></app-admin-navi>
<div class="container-fluid mt-5">
  <div class="card shadow-lg rounded-lg" style="max-width: 1000px; margin: 0 auto;">
    <h3 class="card-header text-center" style="background-color: #007bff; color: #ffffff; border-radius: 0.75rem 0.75rem 0 0; font-family: 'Roboto', sans-serif;">Lista de Reservas</h3>
    <div class="card-body">
      <div class="row mb-3 border-bottom justify-content-center">
        <div class="col-md-3">
          <img src="https://imgs.search.brave.com/KapsRGZ5MdMBR7Ej6egELVuxOF2A7itARs0ivrWIUsA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bW90b3IxLmNvbS9p/bWFnZXMvbWdsL3g2/N0d3L3MzL21lcmNl/ZGVzLWFtZy1wcm9q/ZWN0LW9uZS5qcGc" class="card-img" alt="Imagen del Carro">
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <h5>Cliente:</h5>
            <p>Nombre: Nombre del Cliente</p>
            <p>Correo: correo&#64;ejemplo.com</p>
            <p>Teléfono: 1234567890</p>
          </div>
          <div class="mb-3">
            <h5>Entrega:</h5>
            <p>Lugar: Lugar de Entrega</p>
            <p>Fecha: 01/02/2024</p>
            <p>Hora: 10:00 AM</p>
          </div>
        </div>
        <div class="col-md-3">
          <h5>Salida:</h5>
          <p>Lugar: Lugar de Salida</p>
          <p>Fecha: 01/01/2024</p>
          <p>Hora: 10:00 AM</p>
        </div>
        <div class="col-md-3">
          <h5>Vehículo:</h5>
          <p>Modelo: Modelo del Vehículo</p>
          <p>Estatus: Pendiente</p>
          <p>Total: $100.00</p>
        </div>
        <div class="col-md-3 d-flex justify-content-center mb-3">
          <button class="btn btn-primary" style="font-family: 'Roboto', sans-serif;">Modificar Reserva</button>
          <button class="btn btn-danger ml-2" style="font-family: 'Roboto', sans-serif;">Eliminar Reserva</button>
        </div>
      </div>

      <div class="row mb-3 border-bottom justify-content-center">
        <div class="col-md-3">
          <img src="https://imgs.search.brave.com/KapsRGZ5MdMBR7Ej6egELVuxOF2A7itARs0ivrWIUsA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bW90b3IxLmNvbS9p/bWFnZXMvbWdsL3g2/N0d3L3MzL21lcmNl/ZGVzLWFtZy1wcm9q/ZWN0LW9uZS5qcGc" class="card-img" alt="Imagen del Carro">
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <h5>Cliente:</h5>
            <p>Nombre: Nombre del Cliente</p>
            <p>Correo: correo&#64;ejemplo.com</p>
            <p>Teléfono: 1234567890</p>
          </div>
          <div class="mb-3">
            <h5>Entrega:</h5>
            <p>Lugar: Lugar de Entrega</p>
            <p>Fecha: 01/02/2024</p>
            <p>Hora: 10:00 AM</p>
          </div>
        </div>
        <div class="col-md-3">
          <h5>Salida:</h5>
          <p>Lugar: Lugar de Salida</p>
          <p>Fecha: 01/01/2024</p>
          <p>Hora: 10:00 AM</p>
        </div>
        <div class="col-md-3">
          <h5>Vehículo:</h5>
          <p>Modelo: Modelo del Vehículo</p>
          <p>Estatus: Pendiente</p>
          <p>Total: $100.00</p>
        </div>
        <div class="col-md-3 d-flex justify-content-center mb-3">
          <button class="btn btn-primary" style="font-family: 'Roboto', sans-serif;">Modificar Reserva</button>
          <button class="btn btn-danger ml-2" style="font-family: 'Roboto', sans-serif;">Eliminar Reserva</button>
        </div>
      </div>

      <div class="row mb-3 border-bottom justify-content-center">
        <div class="col-md-3">
          <img src="https://imgs.search.brave.com/KapsRGZ5MdMBR7Ej6egELVuxOF2A7itARs0ivrWIUsA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/bW90b3IxLmNvbS9p/bWFnZXMvbWdsL3g2/N0d3L3MzL21lcmNl/ZGVzLWFtZy1wcm9q/ZWN0LW9uZS5qcGc" class="card-img" alt="Imagen del Carro">
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <h5>Cliente:</h5>
            <p>Nombre: Nombre del Cliente</p>
            <p>Correo: correo&#64;ejemplo.com</p>
            <p>Teléfono: 1234567890</p>
          </div>
          <div class="mb-3">
            <h5>Entrega:</h5>
            <p>Lugar: Lugar de Entrega</p>
            <p>Fecha: 01/02/2024</p>
            <p>Hora: 10:00 AM</p>
          </div>
        </div>
        <div class="col-md-3">
          <h5>Salida:</h5>
          <p>Lugar: Lugar de Salida</p>
          <p>Fecha: 01/01/2024</p>
          <p>Hora: 10:00 AM</p>
        </div>
        <div class="col-md-3">
          <h5>Vehículo:</h5>
          <p>Modelo: Modelo del Vehículo</p>
          <p>Estatus: Pendiente</p>
          <p>Total: $100.00</p>
        </div>
        <div class="col-md-3 d-flex justify-content-center mb-3">
          <button class="btn btn-primary" style="font-family: 'Roboto', sans-serif;">Modificar Reserva</button>
          <button class="btn btn-danger ml-2" style="font-family: 'Roboto', sans-serif;">Eliminar Reserva</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
